@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  animation: moveSides 8s infinite alternate;
}

.box2 {
  animation: moveSides2 4s infinite alternate;
}

@keyframes moveSides {
  0% {
    transform: translateX(0) rotate(-20deg);
  }
  100% {
    transform: translateX(90px) rotate(-20deg);
  }
}

@keyframes moveSides2 {
  0% {
    transform: translateX(0) rotate(-5deg);
  }
  100% {
    transform: translateX(50px) rotate(-5deg);
  }
}
